
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Italic.woff2') format('woff2'),
      url('fonts/Lato/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-HeavyItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Thin.woff2') format('woff2'),
      url('fonts/Lato/Lato-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Black.woff2') format('woff2'),
      url('fonts/Lato/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Bold.woff2') format('woff2'),
      url('fonts/Lato/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-HairlineItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-SemiboldItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.woff2') format('woff2'),
      url('fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/Lato/Lato-Hairline.woff2') format('woff2'),
      url('fonts/Lato/Lato-Hairline.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Semibold.woff2') format('woff2'),
      url('fonts/Lato/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-MediumItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Heavy.woff2') format('woff2'),
      url('fonts/Lato/Lato-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Light.woff2') format('woff2'),
      url('fonts/Lato/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Medium.woff2') format('woff2'),
      url('fonts/Lato/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-ThinItalic.woff2') format('woff2'),
      url('fonts/Lato/Lato-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Pacifico';
  src: url("fonts/PacificoFont/Pacifico.ttf") format('truetype'),
      url('fonts/PacificoFont/Pacifico.woff2') format('woff2'),
      url('fonts/PacificoFont/Pacifico.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body { 
  margin: 0;
}

h1, h2, h3, h4, h5, h6, input[type=submit] {
  font-family: 'Pacifico';
  font-weight: normal;
  font-style: normal;
}

li, a, p, button, input[type=text]{
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
}

.pacifico {
  font-family: 'Pacifico' !important;;
  font-weight: normal;
  font-style: normal;
}

.lato {
  font-family: 'Lato' !important;
  font-weight: normal;
  font-style: normal;
}

.green {
  color: #0D5453;
}

.title {
  font-family: 'Pacifico';
  font-weight: normal;
  font-style: normal;
}

ul {     
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

h2 {
  font-size: 1.35rem;
  line-height: 1.45rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.28rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.1rem;
}

h5 {
  font-size: .8rem;
  line-height: .9rem;
  margin: 0;
}

h6 {
  font-size: 6rem;
  line-height: .7rem;
}

.navigation {
  color: #fff;
}

.promo {
  background-color: #000;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #0D5453;
  overflow: hidden;
  margin: 0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navbar li {
  padding: 10px;
}

.hero {
	overflow: hidden;
	position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.hero-flickity {
  height: 250px;
  position: absolute;
  width: 100%;
}

.hero-flickity .flickity-viewport {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-flickity .flickity-slider {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cell {
  height: 100%;
  flex: 1 1 100%;
  z-index: -1;
  width: 100%;
}

.hero-cell img {
  width: 100%;
}

.hero-cell .is-selected{
  height: 100%;
  flex: 1 1 100%;
  z-index: 1;

}

.flickity-page-dots {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;
  margin-top: -50px;
  padding-left: 0;
}

.flickity-page-dots .dot{
  width: 25px;
  height: 10px;
  border-radius: 1px;
  list-style-type: none;
  border: 2px solid rgba(255,255,255,.6);
  margin: 4px;
}

.flickity-page-dots .dot.is-selected{
  background-color: rgba(255,255,255,.6);
}

.hero-container, .shop-container {
  max-width: 1600px;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	text-align: left;
	z-index: 2;
}

.hero-container{
  width: 100%;
}

.hero-button {
  background-color: black;
  padding: 6px 20px;
  color: #fff;
  border: unset;
  margin-left: 5px;
  font-size: 14px;
}

.hero-container h2 {
  color: white;
  letter-spacing: 1px;
}

.hero-title {
	color: white;
	font-weight: 500;
	letter-spacing: 1px;
}

.collection {
	overflow: hidden;
	position: relative;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
}

.products {
	position: relative;
  text-align: center;
}

.products-flickity {
	overflow: hidden;
	position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-cell {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
  margin: auto 10px;
}

.product-cell img {
  margin: auto;
  height: 100%;
  position: relative;
}

.products-flickity .flickity-viewport {
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.products-flickity .flickity-slider {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flickity-button {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: unset;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  transition: 300ms;
}

.flickity-button:hover {
  transform: translateY(-2px);
  transition: 300ms;
}

.flickity-button.next {
  background-image: url("../images/ArrowRight.png");
  position: absolute;
  right: 50px;
}

.flickity-button.previous {
  background-image: url("../images/ArrowLeft.png");
  position: absolute;
  left: 50px;
}

.flickity-button-icon {
  display: none;
}

.shop {
  background-image: url("../images/HeroImage2Mobile.jpg");
	background-position: 70% 0%;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	position: relative;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shop-button {
  background-color: #0D5453;
  padding: 6px 20px;
  color: #fff;
  border: unset;
  margin-left: 5px;
  font-size: 14px;
}

.shop-container h3 {
  color: white;
}

.shop-title {
	color: white;
}

.insta {
  background-color: #fff;
	overflow: hidden;
	position: relative;
  padding: 50px 20px;
  text-align: center;
}

.insta-container {
  background-color: #fff;
	overflow: hidden;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  text-align: center;
}

.insta-image {
  padding: 10px;
  position: relative;
  width: 30%;
  flex: 1 1 33%;
}

.subscribe {
  background-color: #0D5453;
  position: relative;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe .h2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

.subscribe-box {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 10px;
}

.subscribe-box input[type=text] {
  border: none;
  width: 100%;
  padding-left: 5px;
}

.subscribe-box input[type=submit] {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 4px 25px;
  margin-left: 5px;
}

.footer {
  background-color: #000;
  display: flex;
  position: relative;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
}

.footer-links-left {
  display: flex;
  position: relative;
}

.footer-links-left .title {
  margin-bottom: 5px;
}

.footer-links-right {
  margin: 0 35px;
}

.footer-links-right h5 {
  margin-left: 5px;
}

.footer-links-right-img {
  display: flex;
  position: relative;
}

.footer-links-right-img img {
  margin: auto 5px;
}

.card {
  padding: 7px;
  position: relative;
  z-index: 1;
  width: auto;
  flex: 1 1 45%;
}

.card img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.card-footer {
  text-align: center;
  background-color: #0D5453;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #fff;
  height: 50px;
  margin-top: -50px;
}

.card-footer h3 {
  margin: auto;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.subscribe .h2-wrapper, 
.subscribe-container, 
.footer,
.footer-links-left {
  flex-direction: column;
}

@media screen and (min-width:650px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }
  
  h2 {
    font-size: 2.3rem;
    line-height: 2.4rem;
  }
  
  h3 {
    font-size: 2rem;
    line-height: 2.1rem;
  }
  
  h4 {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }
  
  h5 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  
  h6 {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .navbar {
    justify-content: center;
    padding: 0 20px;
  }

  .hero, .hero-flickity {
    height: 500px;
  }

  .hero-container, .shop-container {
    padding: 20px 80px;
  }

  .subscribe .h2-wrapper img {
    margin-right: 10px;
  }

  .shop {
    background-position: 70% 50%;
    background-size: cover;
    background-image: url("../images/HeroImage2.jpg");
    height: 500px;
  }

  .products-flickity .flickity-viewport {
    padding: 30px;
  }

  .subscribe .h2-wrapper, 
  .subscribe-container, 
  .footer,
  .footer-links-left {
    flex-direction: row;
  }

  .card {
    width: unset;
    padding: 15px;
    flex: 1 1 25%;
  }

  .subscribe-box {
    text-align: left;
    padding: 20px;
  }

  .subscribe-box input[type=text] {
    width: 250;
  }

  .subscribe-box input[type=submit] {
    border: 3px solid #fff;
  }

  .card-footer {
    height: 80px;
    margin-top: -80px;
  }
}

@media screen and (min-width:1100px) {
  .hero, .hero-flickity{
    height: 600px;
  }

  .shop {
    background-position: 20% 50%;
    height: 600px;
  }

  .insta-image {
    width: 18%;
    flex: 1 1 20%;
  }

  .product-cell {
    width: 25%;
    flex: 1 1 25%;
  }

  .card-footer {
    height: 100px;
    margin-top: -100px;
  }
}
	
@media screen and (min-width:1600) {
  .hero, .hero-flickity{
    height: 700px;
  }

  .hero-container {
    padding: 20;
  }

  .shop {
    height: 700px;
  }

  .products-flickity .flickity-viewport {
    width: 1600px;  
  }
}

